.gb-btn {
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
    color: #ffffff;
    border-radius: 10px;
    font-family: Arial;
    padding: 10px;
    max-height: 150px;
    min-height: 150px;
    width: 70vw;
    cursor: pointer;
}
.gb-btn:hover {
    background-color: #a1a1a1;
}
.gb-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gb-logo {
    display: block;
    height: 100px;
    width: 100px;
    padding: 5px;
}

@media (max-width: 700px) {
  .gb-btn div, .gb-btn h3 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .gb-btn {
    width: 98vw;
  }
  .gb-btn div, .gb-btn h3 {
    font-size: 20px;
  }
}
