

.login {
  display: flex;
  justify-content: center;
  width: 500px;
}

.LoginButton, .CreateAccount {
  position: relative !important;
  margin: 5px;
  left: 0 !important;
  right: 0 !important;
}

.NBALogos, .NFLLogos, .MLBLogos {
    width: 100px;
    height: auto;
    position: absolute;
    left:5mm;
    top:15mm;
}

.App-logo-pages {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 10vmin;
}

@media (max-width: 1000px) {
  .NBALogos, .NFLLogos, .MLBLogos {
    position: relative;
    left: -70px;
    top: 10px;
    width: auto;
    height: 50px;
  }
}

@media (max-width: 600px) {
  .NBALogos, .NFLLogos, .MLBLogos {
    left: -40px;
    top: 10px;
    height: 30px;
  }
}
