ul:first-of-type {
  border-top: 3px solid;
}

ul {
  border-bottom: 3px solid;
  padding: 10px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.About {
    text-align: left;
    background-color:#282c34;
}

h1 {
  color: red;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}
p{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 


}
.prof_pic {
  width: 200px;
  display: inherit;
  padding: 10px;
}

.AboutInformation {
  padding: 10px;
}
