.Pages {
    background-color: #282c34;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.Pages-Nfl {
    background-color: #282c34;
    min-height: 100vh;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.chartClicker {
  margin-top: 10px;
}
.links {
  display: flex; 
  justify-content: space-between;
  width: 43%;
}

.App-logo {
  width: 100%;
  position: relative;
  padding: 10px;
  margin-top: 40px;
}

.sport-buttons {
  flex-wrap: wrap;
  justify-content: center;
}

.comments-section {
  background: gray;
  border-radius: 2px;
  margin-bottom: 1rem;
}
.post {
  border: 1px solid black;
  border-radius: 2px;
}

.submit-button {
  float: right;
  padding: 2px;
  margin-top: -10px;
}

.post p {
  padding-left: 10px;
}

.post-content {
  text-align: center;
  padding: 10px;
}
